<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fitness Agence{% endblock %}</title>
    {% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/Style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Anton|Roboto+Mono&display=swap" rel="stylesheet"> {% endblock %}
</head>

{% block body %}

Admin !
{% endblock %}